<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li><a href="/web_embed_3">Web Embed 3</a></li>
      <li><a href="/web_embed_2">Web Embed 2</a></li>
      <li><a href="/web_embed_2-1">Web Embed 2 with init scene</a></li>
      <li><a href="/web_embed_2-2">Web Embed 2 with timer switching</a></li>
      <li><a href="/web_embed">Web Embed</a></li>
    </ul>
  </body>
</html>

