<% layout('layout') %>

<h2>Index</h2>

<ul>
  <li><a href="/web_embed_12">Web Embed 12</a></li>
  <li><a href="/web_embed_11">Web Embed 11</a></li>
  <li><a href="/web_embed_10">Web Embed 10</a></li>
  <li><a href="/web_embed_9">Web Embed 9</a></li>
  <li><a href="/web_embed_8">Web Embed 8</a></li>
  <li><a href="/web_embed_7">Web Embed 7</a></li>
  <li><a href="/web_embed_6">Web Embed 6</a></li>
  <li><a href="/web_embed_5">Web Embed 5</a></li>
  <li><a href="/web_embed_4">Web Embed 4</a></li>
  <li><a href="/web_embed_3">Web Embed 3</a></li>
  <li><a href="/web_embed_2">Web Embed 2</a></li>
  <li><a href="/web_embed_2-1">Web Embed 2 with init scene</a></li>
  <li><a href="/web_embed_2-2">Web Embed 2 with timer switching</a></li>
  <li><a href="/web_embed">Web Embed</a></li>
</ul>

