<% layout('layout') %>

<div class="row">
  <div class="col-md-6">
    <h2>Web Embed DEV</h2>
    <div class="list-group">
      <a class="list-group-item" href="/embed_dev/html_4">v1 Release (v1.0.0.0)</a>
      <a class="list-group-item" href="/embed_dev/html_3">CDN Sign Bufix 2 (v0.8.10.3)</a>
      <a class="list-group-item" href="/embed_dev/html_2">CDN Sign Bufix (v0.8.10.3)</a>
      <a class="list-group-item" href="/embed_dev/html_1">CDN Sign Proto (v0.8.9.1)</a>
    </div>

    <h2>Web Embed PROD</h2>
    <div class="list-group">
      <a class="list-group-item" href="/embed_prod/html_2">CDN Sign Bufix 2 (v0.8.10.3)</a>
      <a class="list-group-item" href="/embed_prod/html_1">CDN Sign Bufix (v0.8.10.3)</a>
    </div>

    <h2>Web Embed LOCAL</h2>
    <div class="list-group">
      <a class="list-group-item" href="/embed_local/html_1">CDN Sign</a>
    </div>

    <h2>WebZip DEV</h2>
    <div class="list-group">
      <a class="list-group-item" href="/webzip_dev/html_1">CDN Sign Proto (v0.8.9.1)</a>
      <a class="list-group-item" href="/webzip_dev/html_2">CDN Sign Packager (v0.8.9.5)</a>
    </div>

    <h2>WebZip PROD</h2>
    <div class="list-group">
      <a class="list-group-item" href="#">TBD</a>
    </div>

    <h2>etc.</h2>
    <div class="list-group">
      <a class="list-group-item" href="/signup/embed">Embed Sign up, Dev</a>
      <a class="list-group-item" href="/signup/embed_prod">Embed Sign up</a>
    </div>

    <h2>Old Web Embed</h2>
    <div class="list-group">
      <a class="list-group-item" href="/embed/web_embed_12">v0.3.1.5, max-width/max-height</a>
      <a class="list-group-item" href="/embed/web_embed_11">v0.2.7.8, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_10">v0.2.7.4</a>
      <a class="list-group-item" href="/embed/web_embed_9">v0.2.7.0</a>
      <a class="list-group-item" href="/embed/web_embed_8">v0.2.5.2, Not Working</a>
      <a class="list-group-item" href="/embed/web_embed_7">v???, Self CDN</a>
      <a class="list-group-item" href="/embed/web_embed_6">v???, Self CDN</a>
      <a class="list-group-item" href="/embed/web_embed_5">v???, Self CDN</a>
      <a class="list-group-item" href="/embed/web_embed_4">v0.2.2.0, Multi embed on one page</a>
      <a class="list-group-item" href="/embed/web_embed_3">v0.2.0.0, Multi embed on one page</a>
      <a class="list-group-item" href="/embed/web_embed_2">v0.1.7.1</a>
      <a class="list-group-item" href="/embed/web_embed_2-1">v0.1.7.1, Init scene</a>
      <a class="list-group-item" href="/embed/web_embed_2-2">v0.1.7.1, Timer switching</a>
      <a class="list-group-item" href="/embed/web_embed">v0.1.6.0</a>
    </div>
  </div>

  <div class="col-md-6">
    <h2>Web Embed</h2>
    <div class="list-group">
      <a class="list-group-item" href="/embed/web_embed_47">v0.8.4.9, Video Issue? WebZip Muted, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_46">v0.8.4.9, Video Issue? Embed Muted, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_45">v0.8.4.9, Video Issue? WebZip, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_44">v0.8.4.9, Video Issue? Embed, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_43">v0.5.5.14, Embed Container ID, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_42">v0.5.5.14, Embed Container ID, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_41">v0.5.3.3, WebZip Blind Custom, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_40">v0.5.3.3, WebZip Blind Default, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_39">v0.5.3.3, Embed, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_38">v0.5.3.2, Blind</a>
      <a class="list-group-item" href="/embed/web_embed_37">v0.5.2.25, DualView, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_36">v0.5.2.24, DualView, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_35">v0.5.2.23, DualView with Fix, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_34">v0.5.2.23, DualView with Text/Image, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_33">v0.5.2.23, DualView with Small fix, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_32">v0.5.2.23, DualView, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_31">v0.5.2.22, DualView/iframe, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_30">v0.5.1.20, Dispatcher, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_29">v0.5.1.18, CORS, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_28">v0.5.1.17, IE11, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_27">v0.5.1.14, IE11, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_26">v0.5.1.0, Self CDN, Local</a>
      <a class="list-group-item" href="/embed/web_embed_25">v0.5.1.0, webpack, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_24">v0.5.0.11, Colors, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_23">v0.5.0.7, DualView, Infinity Vertical Scaling up, <strong class="text-danger">DANGER</strong></a>
      <a class="list-group-item" href="/embed/web_embed_22">v0.5.0.7, DualView, Div Wrapping, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_21">v0.5.0.6, SingleView, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_20">v0.5.0.6, Self CDN</a>
      <a class="list-group-item" href="/embed/web_embed_19">v0.5.0.6, DualView, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_18">v0.5.0.4, DualView, Dev</a>
      <a class="list-group-item" href="/embed/web_embed_17">v???, Self CDN, Local</a>
      <a class="list-group-item" href="/embed/web_embed_16">v???, Self CDN, Local</a>
      <a class="list-group-item" href="/embed/web_embed_15">v???, Self CDN, Local</a>
      <a class="list-group-item" href="/embed/web_embed_14">v???, Self CDN, Video</a>
      <a class="list-group-item" href="/embed/web_embed_13">v???, Self CDN</a>
    </div>
  </div>
</div>

