<% layout('layout') %>

<div id='instavr_container' style='width: 500px; height: 300px;'></div>
<script id='instavr_src' src='https://tayutaedomo-instavr-web-embed.herokuapp.com/resources/8EYZ4Q2iIXCDDEEGZ4W32PSc6AeuOA/instavr.min.js'></script>
<script>
  InstavrViewer.embed('8EYZ4Q2iIXCDDEEGZ4W32PSc6AeuOA', { container_id: 'instavr_container', cdn: 'https://tayutaedomo-instavr-web-embed.herokuapp.com/resources/8EYZ4Q2iIXCDDEEGZ4W32PSc6AeuOA' });
</script>

