<% layout('layout') %>

<div id='instavr_container' style='width: 700px; height: 500px;'></div>
<script id='instavr_src' src='https://tayutaedomo-instavr.herokuapp.com/resources/8EYZ4Q2iIXCDDEEGZ4W3HjRW1bF9jm/instavr.min.js'></script>
<script>
  InstavrViewer.embed('8EYZ4Q2iIXojsKOa40EC94P53OhgHv', { container_id: 'instavr_container', cdn: 'https://tayutaedomo-instavr.herokuapp.com/resources/8EYZ4Q2iIXojsKOa40EC94P53OhgHv' });
</script>

