<% layout('layout') %>

<div id='instavr_container' style='width: 500px; height: 300px;'></div>
<script id='instavr_src' src='https://cdn.instavr.co/ajax/libs/instavr/0.2.7.0/instavr.min.js'></script>
<script>
  InstavrViewer.embed('8EYZ4Q2iIXCDDEEGZ4W3klddAdLVVi', { container_id: 'instavr_container' });
</script>

