<% layout('layout') %>

<div id='instavr_container' style='max-width: 500px; max-height: 300px;'></div>
<script id='instavr_src' type='text/javascript' src='https://cdn.instavr.co/ajax/libs/instavr/0.3.1.5/instavr.min.js'></script>
<script type='text/javascript'>InstavrViewer.embed('8EYZ4Q2iIXCDDEEGZ4W3d64HZCWEUk', { container_id: 'instavr_container' });</script>

