<!DOCTYPE html>
<html>
<head>
  <title>Web Embed</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div id='instavr_container' style='width: 500px; height: 300px;'></div>
  <div id='instavr_container_2' style='width: 500px; height: 300px;'></div>
  <div id='instavr_container_3' style='width: 500px; height: 300px;'></div>
  <script id='instavr_src' src='https://cdn.instavr.co/ajax/libs/instavr/0.2.2.0/instavr.min.js'></script>
  <script>
    InstavrViewer.embed('8EYZ4Q2iIXCDDEEGZ4W3ZC7yS3pmC4', { container_id: 'instavr_container' });
    InstavrViewer.embed('8EYZ4Q2iIXCDDEEGZ4W3ZC7yS3pmC4', { container_id: 'instavr_container_2', scene: 'k9qDAFc2Rp' });
    InstavrViewer.embed('8EYZ4Q2iIXCDDEEGZ4W3ZC7yS3pmC4', { container_id: 'instavr_container_3', scene: 'V8ICXznHbA' });
  </script>
</body>
</html>

