<% layout('layout') %>

<div id='instavr_container' style='width: 500px; height: 300px; position: relative;'></div>
<link rel='stylesheet' href='https://cdn.instavr.co/ajax/libs/videojs/5.9.2/video-js.css'>
<script id='instavr_src' src='https://cdn.instavr.co/ajax/libs/instavr/0.1.7.1/instavr.min.js'></script>
<script>
  instavrviewer.embed('8EYZ4Q2iIXCDDEEGZ4W383C4G0wepY');
  setTimeout(function() {
    if (instavrviewer) {
      instavrviewer.change_scene('V8ICXznHbA');
    }
  }, 1500);
</script>

