<% layout('layout') %>

<h2>CDN Sign</h2>

<div style='width:500px; height:300px; max-width:500px; max-height:300px; position:relative;'>
    <div id='instavr_container_8EYZ4Q2iIXEWcSSCCkoEop2rYa7m4j' style='width:100%; height:100%; position:relative;'>
        <img class='instavr-gyro-close-button' src='https://cdn.instavr.co/ajax/libs/instavr/0.8.10.3/images/icon_close.svg' style='display:none; z-index:10; position:absolute; width:22px; height:22px; bottom:0px; right:0px; padding:22px 4px 4px 22px; background:rgba(0,0,0,0); border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;'>
        <div class='instavr-horizontally-guidance' style='display:none; z-index:20; position:absolute; width:100%; height:100%; top:0px; left:0px; background:#000; text-align:center;'><img src='https://cdn.instavr.co/ajax/libs/instavr/0.8.10.3/images/icon_horizontal.svg' style='width:40%; margin-top:50%;'></div>
    </div>
</div>
<script id='instavr_src' type='text/javascript' src='https://cdn.instavr.co/ajax/libs/instavr/0.8.10.3/instavr.min.js'></script>
<script type='text/javascript'>
  InstavrViewer.embed('8EYZ4Q2iIXEWcSSCCkoEop2rYa7m4j', {
    'vision_preview_enabled':false,
    'vision_preview_method':'general',
    '':false,
    'vision_custom_gain':'1',
    'enable_head_reset_on_scene_change':true,
    'video_player_control':false,
    'rotation_amount':'5',
    'scene_focus_duration':'2',
    'scene_focus_display_circle':true,
    'scene_focus_color':'rgba(255,255, 255, 1)',
    'scene_focus_size':'0.1',
    'enable_home_button':true,
    'default_home_icon':'',
    'global_fov':'80',
    'enable_selected_color':false,
    'support_google_cardboard_qr_code':false,
    'app_product_name':'VRCdnSign',
    'app_icon':'',
    'app_version':'1.0',
    'direct_publishing_enabled':false,
    'enable_zoom':true,
    'enable_gyro':true,
    'enable_tap':false,
    'enable_dualview':true,
    'enable_gyro_by_default':false,
    'disable_auto_rotate_camera':false,
    'show_app_name':false,
    'show_folder_name':false,
    'web_zip_packaging':false,
    'image_quality':'original',
    'video_quality':'12mbps',
    'enable_mobile_video_quality':true,
    'direction_reversing':true,
    'splash_logo_url':'',
    'web_text_color':'rgba(0,0, 0, 1)',
    'splash_background_color':'rgba(255,255, 255, 1)',
    'progress_bar_color':'rgba(157,133, 190, 1)',
    'tab_title':'',
    'tab_logo_url':'',
    'show_media_list':'none',
    'social_title':'',
    'social_image_url':'',
    'container_id':'instavr_container_8EYZ4Q2iIXEWcSSCCkoEop2rYa7m4j',
    'platform':'web',
    'cdn_ca_url':'https://console.instavr.co/api/platform/cdn/ca/url'
  });
</script>

