<% layout('layout') %>

<div id='instavr_container' style='width: 500px; height: 300px;'></div>
<!--<script id='instavr_src' src='https://cdn.instavr.co/ajax/libs/instavr/0.2.5.2/instavr.min.js'></script>-->
<script>
  (function(d, s, id){
    var js, ivrjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//cdn.instavr.co/ajax/libs/instavr/0.2.5.2/instavr.min.js";
    ivrjs.parentNode.insertBefore(js, ivrjs);
  }(document, 'script', 'instavr_src'));
</script>
<script>
  InstavrViewer.embed('8EYZ4Q2iIXCDDEEGZ4W3ZC7yS3pmC4', { container_id: 'instavr_container' });
</script>

<div id='instavr_container_2' style='width: 500px; height: 300px;'></div>
<script>
  (function(d, s, id){
    var js, ivrjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//cdn.instavr.co/ajax/libs/instavr/0.2.5.2/instavr.min.js";
    ivrjs.parentNode.insertBefore(js, ivrjs);
  }(document, 'script', 'instavr_src'));
</script>
<script>
  InstavrViewer.embed('8EYZ4Q2iIXCDDEEGZ4W3ZC7yS3pmC4', { container_id: 'instavr_container_2', scene: 'k9qDAFc2Rp' });
</script>

<div id='instavr_container_3' style='width: 500px; height: 300px;'></div>
<script>
  (function(d, s, id){
    var js, ivrjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//cdn.instavr.co/ajax/libs/instavr/0.2.5.2/instavr.min.js";
    ivrjs.parentNode.insertBefore(js, ivrjs);
  }(document, 'script', 'instavr_src'));
</script>
<script>
  InstavrViewer.embed('8EYZ4Q2iIXCDDEEGZ4W3ZC7yS3pmC4', { container_id: 'instavr_container_3', scene: 'V8ICXznHbA' });
</script>

