<% layout('layout') %>

<div id='instavr_container' style='width: 500px; height: 300px;'></div>
<script id='instavr_src' type='text/javascript' src='https://dev-cdn.instavr.co/ajax/libs/instavr/0.2.7.8/instavr.min.js'></script>
<script type='text/javascript'>InstavrViewer.embed('8EYZ4Q2iIXAHP3uD77DQFKVj3gEYAY', { container_id: 'instavr_container' });</script>

