<% layout('layout') %>

<h3>Headline</h3>

<div class="row">
  <div class="col-md-12">
    <p>吾輩は猫である。名前はまだ無い。どこで生れたか頓（とん）と見當がつかぬ。何でも薄暗いじめじめした所でニヤーニヤー泣いて居た事丈は記憶して居る。吾輩はこゝで始めて人間といふものを見た。然（しか）もあとで聞くとそれは書生といふ人間中で一番獰悪（だうあく）な種族であつたさうだ。此書生といふのは時々我々を捕（つかま）へて煮て食ふといふ話である。然し其當時は何といふ考（かんがへ）もなかつたから別段恐しいとも思はなかつた。但（たゞ）彼の掌（てのひら）に載せられてスーと持ち上げられた時何だかフハフハした感じが有つた許（ばか）りである。掌の上で少し落ち付いて書生の顔を見たのが所謂（いはゆる）人間といふものゝ見始（みはじめ）であらう。此時妙なものだと思つた感じが今でも殘つて居る。第一毛を以て装飾されべき筈の顔がつるつるして丸で薬罐（やくわん）だ。其後猫にも大分逢つたがこんな片輪には一度も出會（でく）はした事がない。加之（のみならず）顔の眞中が餘りに突起して居る。そうして其穴の中から時々ぷうぷうと烟（けむり）を吹く。どうも咽（む）せぽくて實に弱つた。是が人間の飲む烟草（たばこ）といふものである事は漸く此頃（このごろ）知つた。</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <img style="width: 100%;" src="https://dev-cdn.instavr.co/content/uJULffQGz9tGa7fyYivl_2012070212.27.10HDR.jpg">
  </div>

  <div class="col-md-6">
    <div style='width: 500px; height: 300px; max-width: 100%; max-height: 100%;'>
      <div id='instavr_container' style='width: 100%; height: 100%;'>
        <img class='instavr-gyro-close-button' src='https://dev-cdn.instavr.co/ajax/libs/instavr/0.5.2.23/images/icon_close.svg' style='display: none; z-index: 10; position: absolute; width: 22px; height: 22px; bottom: 0px; right: 0px; padding: 22px 4px 4px 22px; background: rgba(0,0,0,0); border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;'>
        <div class='instavr-horizontally-guidance' style='display: none; z-index: 20; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; bottom: 0px; right: 0px; background: #000; text-align: center;'><img src='https://dev-cdn.instavr.co/ajax/libs/instavr/0.5.2.23/images/icon_horizontal.svg' style='width: 40%; margin-top: 50%;'></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4>Down the Rabbit Hole</h4>
    <p>Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, “and what is the use of a book,” thought Alice, “without pictures or conversations?” So she was considering, in her own mind (as well as she could, for the hot day made her feel very sleepy and stupid), whether the pleasure of making a daisy-chain would be worth the trouble of getting up and picking the daisies, when suddenly a White Rabbit with pink eyes ran close by her.</p>
  </div>

  <div class="col-md-6">
    <h4>吾輩は猫である</h4>
    <p>吾輩は猫である。名前はまだ無い。どこで生れたか頓（とん）と見當がつかぬ。何でも薄暗いじめじめした所でニヤーニヤー泣いて居た事丈は記憶して居る。吾輩はこゝで始めて人間といふものを見た。然（しか）もあとで聞くとそれは書生といふ人間中で一番獰悪（だうあく）な種族であつたさうだ。此書生といふのは時々我々を捕（つかま）へて煮て食ふといふ話である。然し其當時は何といふ考（かんがへ）もなかつたから別段恐しいとも思はなかつた。但（たゞ）彼の掌（てのひら）に載せられてスーと持ち上げられた時何だかフハフハした感じが有つた許（ばか）りである。掌の上で少し落ち付いて書生の顔を見たのが所謂（いはゆる）人間といふものゝ見始（みはじめ）であらう。此時妙なものだと思つた感じが今でも殘つて居る。第一毛を以て装飾されべき筈の顔がつるつるして丸で薬罐（やくわん）だ。其後猫にも大分逢つたがこんな片輪には一度も出會（でく）はした事がない。加之（のみならず）顔の眞中が餘りに突起して居る。そうして其穴の中から時々ぷうぷうと烟（けむり）を吹く。どうも咽（む）せぽくて實に弱つた。是が人間の飲む烟草（たばこ）といふものである事は漸く此頃（このごろ）知つた。</p>
  </div>
</div>

<script id='instavr_src' type='text/javascript' src='https://dev-cdn.instavr.co/ajax/libs/instavr/0.5.2.23/instavr.min.js'></script>
<script type='text/javascript'>
  InstavrViewer.embed('uJULffQGz9iquH63f0unxTkG5Zkg57', {
    'vision_preview_enabled':false,
    'vision_preview_method':'general',
    '':false,
    'vision_custom_gain':'1',
    'enable_head_reset_on_scene_change':true,
    'video_player_control':true,
    'scene_focus_duration':'2',
    'scene_focus_display_circle':true,
    'scene_focus_color':'rgba(255,255,255,1)',
    'scene_focus_size':'1',
    'focus_stereo_distance':'0',
    'enable_home_button':false,
    'global_fov':'80',
    'enable_selected_color':false,
    'show_viewing_id':false,
    'support_google_cardboard_qr_code':false,
    'app_product_name':'VRWebDualStg',
    'app_icon':'',
    'permission_call_phone_required':true,
    'enable_zoom':true,
    'enable_gyro':true,
    'enable_tap':false,
    'enable_dualview':true,
    'enable_gyro_by_default':false,
    'web_zip_packaging':false,
    'image_quality':'original',
    'video_quality':'original',
    'enable_mobile_video_quality':true,
    'container_id':'instavr_container',
    'direction_reversing':false,
    'splash_logo_url':'',
    'splash_background_color':'rgba(255,255,255,1)',
    'social_title':'',
    'social_image_url':''
  });
</script>

