<% layout('layout') %>

<div id='instavr_container' style='width: 500px; height: 300px; max-width: 500px; max-height: 300px;'>
  <img class='instavr-gyro-close-button' src='https://dev-cdn.instavr.co/ajax/libs/instavr/0.5.0.6/images/icon_close.svg' style='display: none; z-index: 10; position: absolute; width: 22px; height: 22px; top: 5px; right: 5px; padding: 22px 4px 4px 22px; background: rgba(0,0,0,0); border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;'>
</div>
<script id='instavr_src' type='text/javascript' src='https://dev-cdn.instavr.co/ajax/libs/instavr/0.5.0.6/instavr.min.js'></script>
<script type='text/javascript'>
  InstavrViewer.embed('uJULffQGz9iquH63f0untHgptFf3Xw', {
    'enable_skip_home':false,
    'app_product_name':'VRWebDualStg',
    'scene_focus_size':'1',
    '':false,
    'focus_stereo_distance':'0',
    'enable_zoom':true,
    'enable_gyro':true,
    'enable_tap':false,
    'enable_dualview':false,
    'enable_gyro_by_default':false,
    'web_zip_packaging':false,
    'image_quality':'original',
    'video_quality':'original',
    'enable_mobile_video_quality':true,
    'container_id':'instavr_container',
    'direction_reversing':false
  });
</script>

