<% layout('layout') %>

<button class="btn btn-info instavr-signup-button" onclick="signup_handler.open()">Open Sign up Modal</button>

<script type="text/javascript" id="instavr_signup_js" src="//cdn.instavr.co/public/components/instavr-signup/embed.min.js"></script>

<script type="text/javascript">
  var signup_handler = window.InstavrSignup.configure();
</script>

