
<% layout('layout') %>

<h2>iframe</h2>

<script id='instavr_embed_js' type='text/javascript' src='https://dev-cdn.instavr.co/ajax/libs/instavr-embed/v1/instavr-embed.min.js'></script>
<div id='instavr_embed_container' class='instavr-embed-container' style='width:500px; height:300px; max-width:500px; max-height:300px;' data-package-hash='uJULffQGz9QGYeE2yABA'></div>

